{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block content %}
    <h1>Password reset confirm</h1>
    <hr>

    {% if validlink %}
        <form method="post">
            {{ form }}
            {% csrf_token %}
            <button type="submit">Submit</button>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}
